.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml
node_modules
public/lib
public/dist/libraries.js
public/dist/shortly-express.js
public/dist/shortly-express.min.js
db/*

# Icon must ends with two \r.
Icon




# Floobits
.floo
.floobit
.floo
.flooignore
